
<div class="exterior"> 
    <div class="carrousel-container">
        
        <div class="interiorInfo">            
            <h1 class="hover-underline-animation ">{{ 'Escuela' | translate }}</h1>
            <div class="infoCarrousel"></div>
            <p>{{ 'EscuelaTexto1' | translate }}</p>
            <p>{{ 'EscuelaTexto2' | translate }}</p>
            <div class="imgInteriorSmallWith"></div>
            <p>{{ 'EscuelaTexto3' | translate }}</p>
            <ul>
                <li>{{ 'EscuelaPrimero' | translate }}</li>
                <li>{{ 'EscuelaSegundo' | translate }}</li>
                <li>{{ 'EscuelaCuarto' | translate }}</li>
            </ul>
           
        </div>        
        <div class="imgInteriorfullwith">            
        </div>
    </div>  
</div>
   