<section>
    <div class="tittlecontainer">
        <h1 class="hover-underline-animation">{{ 'Herramientas' | translate }}</h1>

    </div>


    <p>{{ 'HerramientasTexto' | translate }} </p>
    <p>{{ 'HerramientaOferta' | translate }} </p>

    <ul>
        <li>{{ 'Tijeras de aros grandes' | translate }}</li>
        <li>{{ 'Tijeras pinzadoras' | translate }}</li>
        <li>{{ 'Podadora cóncava recta (Kuikiri)' | translate }}</li>
        <li>{{ 'Podadora cóncava curva (Cobukiri)' | translate }}</li>
        <li>{{ 'Podadora cóncava recta (Kuikiri)' | translate }}</li>
        <li>{{ 'Podadora cóncava curva (Cobukiri)' | translate }}</li>
        <li>{{ 'Pinzas' | translate }}</li>
        <li>{{ 'Corta alambres' | translate }}</li>
    </ul>

    <div class="img"></div>
</section>
