
<div class="exterior"> 
    <div class="carrousel-container">
        
        <div class="interiorInfo">            
            <h1 class="hover-underline-animation "> {{ 'JuanMontes' | translate}}</h1>
            <p>{{ 'JuanMontesTexto1' | translate}}</p>
            <p>{{ 'JuanMontesTexto2' | translate}}</p>
            <p>{{ 'JuanMontesTexto3' | translate}}</p>                          
        </div>        
        <div class="containerImg"> 
            <div class=img1></div>
            <div class="img2"></div>           
        </div>
    </div>  
</div>
   