
<div class="exterior"> 
    <div class="carrousel-container">
        
        <div class="interiorInfo">            
            <h1 class="hover-underline-animation " > {{'Bonsais de Interior' | translate}}</h1>
            <div class="infoCarrousel"></div>
            <p>{{'Bonsais de Interior Texto' | translate}}</p>
            <ul>
                <p>Bonsáis de interior:</p>
                <li> Olmo chino (Ulmus parvifolia) </li>
                <li> Bambú celestial (Nandina doméstica) </li>
                <li> Pitanga (Eugenia uniflora) </li>
                <li> Laurel de Indias (Ficus retusa) </li>
                <li> Ficus panda </li>
                <li> Cendrawashi (Philantus sp.) </li>
                <li> Aralia de Ming (Poliscia quicaefolia) </li>
             </ul> 
        </div>        
            <div class="imgInterior">            
            </div>
       
    </div>  
   
</div>
   