<div class="gallery-lightbox-container">
  
    <div  class="gallery">
        <div *ngFor="let item of galleryData; let i = index" class="gallery-img">
            <img (click)="onPreviewImage(i)" [src]="item.img" [alt]="item.description">
        </div>
    </div>
    
    <button mat-button
        (click)="vermas()"
        *ngIf="!showMask && verMas">
        {{ 'VerMas' | translate }}
    </button>
    
    <div *ngIf="showMask" class="lightbox">
        <div class="spanAndClose">
            <span  class="count">{{this.currentIndex +1}}/{{totalImageCount}}</span>       
            <mat-icon class="closeIcon" (click)="closeImage()" >close</mat-icon>
            
        </div>
        <div class="imageViewContainer" style="display: flex; flex-direction: row;">
            
            <div class="moveIconContainer"> 
                <mat-icon class="moveIcon pre" (click)="prevImage()" > navigate_before</mat-icon>
            </div>
    
            
            
            <div *ngIf="previewImage" class="lightbox-img">
                <img  class="imageLightbox" [src]="currentLightboxImage.img" [alt]="currentLightboxImage.description">
            </div>
            <div class="moveIconContainer">
                <mat-icon class="moveIcon" (click)="nextImage()" > navigate_next</mat-icon>
            </div>
            
                
           
        </div>
        <div class="Imageinfo">
            <span  class="count">{{this.currentLightboxImage.description}}</span>       

           
            
        </div>



    </div>
</div>
    