.gallery-lightbox-container{  
    width: 90%;
    margin: auto;
    padding: 0;
    border-radius: 10px;
    padding-top: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
            .gallery{
            
                display: grid;
                gap: 1rem;
                grid-auto-flow: dense;
                grid-auto-rows: 1fr;
                grid-template-columns: repeat(auto-fill, minmax(25rem,1fr));
            }
            .gallery-img{ 
            min-width: 100%;
            display: flex;
            justify-content: center;
            
            }
            img{ 
                max-width: 100%;
                margin: 5px;
            
            }
            
            button{
                background-color: rgb(51, 224, 71);
                color: white;
                width: 20%;
                margin: auto;
                margin-bottom: 60px;
                margin-top: 30px;
            
            }

.lightbox{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: fixed;
    top: 0;
    left:0;
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0,0.85);
    
}

        .spanAndClose{
            margin-bottom: 20px;
            min-width: 50%;
            display: flex;
            justify-content: space-between;
        }
        span{
            color: whitesmoke;
            font-size: x-large;
            margin-bottom: 20px;
        
        }
        .imageLightbox{
            /* max-width:700px; */
            object-fit: cover;

        }



        mat-icon{
            color: whitesmoke;
            font-size: 20px;
        }

        .closeIcon{
            justify-self: end;
        }
.imageViewContainer{    
    display: flex;
    justify-content: center;
    vertical-align: middle;
    width: 50%;
}
.moveIconContainer{
    margin: auto;  
    
}

mat-icon:hover{   
    font-size: 30px;
}



@media (max-width:800px){

    
    .imageLightbox{
        max-width: 250px;
    }
    
}
  