
<div class="maincontainer">
    <div class="info-fotoFullWidth"></div>   
    <div class="box">
        <div class="info-grid">   
            <div class="tittlecontainer">
                <h1 class="hover-underline-animation">{{ 'Macetas' | translate }}</h1>
            </div>     
            <p>{{ 'MacetasTexto' | translate }}</p> 
            <div class="info-fotoSmallWidth"></div>
            <ul>
                <li>{{ 'Tokoname' | translate }}</li>                
                <li>{{ 'Macetas chinas de Yixing esmaltadas' | translate }}</li>
                <li>{{ 'Macetas chinas de Yixing sin esmaltar' | translate }}</li>
                <li>{{ 'Macetas japonesas de Seto' | translate }}</li>
                <li>{{ 'Macetas japonesas Houtoku pots' | translate }}</li>
                <li>{{ 'Macetas japonesas Yokkaichi' | translate }}</li>
                <li>{{ 'Macetas japonesas de porcelana esmaltada' | translate }}</li>
            </ul>
        </div>
        
        
    </div>
    
        
    
    
</div>