
<div class="exterior">   
        <div class="carrousel-container">

            <div class="imgInterior">
                
            </div>
            <div class="interiorInfo">
                
                <h1 class="hover-underline-animation " >{{'Bonsais de Exterior' | translate}}</h1>
                <div class="infoCarrousel"></div>
                <p>{{'Bonsais de Exterior Texto1' | translate}}</p>
                <p>{{'Bonsais de Exterior Texto2' | translate}}</p>
                <p>{{'Bonsais de Exterior Texto3' | translate}}</p>
                

            <div class="lista">
                <ul>
                    <p>Bonsáis de zonas frías:</p>
                    <li>Enebro chino (Juniperus chinensis)</li>
                    <li>Enebro rastrero (Juniperus procumbens)</li>
                    <li>Coriliopsis</li>
                    <li>Carpe chino (Carpinus sinensis)</li>
                    <li>Arce palmatum (Acer palmatum)</li>
                    <li>Arce buergerianum (Acer buergerianum)</li>
                    <li>Chamaecyparis (Chamaecyparis pisífera)</li>
                    <li>Higuera</li>
                </ul>

                <ul>
                    <p>Bonsáis de zonas templadas:</p>
                    <li>Acebuche (Olea sylvestris)</li>
                    <li>Olivo (Olea europea)</li>
                    <li>Cyca (Cyca revoluta)</li>
                    <li>Tarahal (Tamarix sp.)</li>
                    <li>Higuera (Ficus carica)</li>
                    <li>Ginkgo (Ginkgo biloba)</li>
                    <li>Tabaiba ( Euphorbia Balsamífera)</li>
                </ul>
            </div>
           


            </div>
            
        </div>
       
        
</div>
       

    
    

