<div class="maincontainer">       
    <div class="box">
        <div class="horarioBox">    
            <div class="horarioTittle" >
                <h1 class="hover-underline-animation">{{'Horario' | translate}}</h1>
            </div>
            
            <div class="horario">        
               
    
               <table>
                <tr>
                    <td>{{'Jueves' | translate}}</td>
                    <td>9:00</td>
                    <td>17:00</td>
                </tr>
                <tr>
                    <td>{{'Viernes' | translate}}</td>
                    <td>9:00</td>
                    <td>17:00</td>
                </tr>
                <tr>
                    <td>{{'Sabado' | translate}}</td>
                    <td>9:00</td>
                    <td>13:00</td>
                </tr>
               </table>
            </div>
        </div>
        <div class="contactoBox">
            <div class="contactoTittle">
                <h1 class="hover-underline-animation">{{'Contactanos' | translate}}</h1>
    
            </div>
            <div class="contacto">
                
                <table>
                    <tr>
                        <td class="iconaling">
                            <mat-icon>phone</mat-icon>
                           {{ 'Telefono' | translate }}
                        </td>
                        <td> <a href="tel:+34928621418">928 62 14 18</a></td>
                       
                    </tr>
                    <tr>
                        <td  class="iconaling">
                            <mat-icon>mail</mat-icon>
                            {{'mail' | translate}}
                        </td>
                        <td>   
                        info@bonsaielvalle.com                 
                        </td>    
                    </tr>
                    
                </table>
            </div>
        </div>
        
    </div>
    
</div>  