<section>
    <div class="tittlecontainer">
        <h1 class="hover-underline-animation">{{ 'Abonos' | translate}}</h1>

    </div>

    <p>{{'AbonosTexto1' | translate}}</p>
    <p>{{'Abonos orgánicos sólidos:' | translate}}</p>
        
    <ul>
        <li>{{ 'Bio Gold' | translate}}</li>
        <li>{{ 'Hiryo Gold' | translate}}</li>
        <li>{{ 'Hanagokoro' | translate}}</li>
    </ul>

     <p>{{ 'Abono orgánicos liquidos:' | translate}}</p>
    
     <ul>
        <li>{{ 'Bachumus' | translate}}</li>
     </ul>
     <p>{{ 'Abono químico para prebonsái:' | translate}}   </p>
     <ul>
        <li>{{ 'Arcoíris' | translate}}  </li>
     </ul>
	

    <div class="img"></div>
</section>
