<section>
    <div class="tittlecontainer">
        <h1 class="hover-underline-animation">{{'Accesorios' | translate}}</h1>

    </div>

    <p>{{'AccesoriosTexto' | translate}}</p>

        <p>  {{ 'AccesorioOferta' | translate}}</p>
        <ul>
            
            <li>{{ 'Alambres' | translate}}</li>
            <li>{{ 'Rejillas' | translate}}</li>
            <li>{{ 'Palillos' | translate}}</li>
            <li>{{ 'Tornos' | translate}}</li>
            <li>{{ 'Cedazos' | translate}}</li>
            <li>{{ 'Regaderas' | translate}}</li>
            <li>{{ 'Vaporizadores' | translate}} </li>

        </ul>
        
    <div class="img"></div>
</section>