<section>
    <div class="tittlecontainer">
        <h1 class="hover-underline-animation">{{ '¿Donde estamos?' | translate }}</h1>
    </div>
    
    <div class="imgcontainer">
        <img class="shadow" src="https://firebasestorage.googleapis.com/v0/b/centrobonsaielvalle-cff2a.appspot.com/o/FotosFijas%2Finicio-entradavivero.png?alt=media&token=" alt="">
        <iframe  class="shadow" src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d4187.0457508626905!2d-15.559993411285554!3d28.05893990830376!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x0%3A0x84e05e4c10f6c16b!2sCentro%20de%20bonsai%20El%20Valle!5e0!3m2!1ses!2ses!4v1668855420621!5m2!1ses!2ses"  style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
    </div>
    <p>{{ '¿Donde estamos?Texto1' | translate }}</p>
    <p>{{ '¿Donde estamos?Texto2' | translate }}</p>
    <p>{{ '¿Donde estamos?Texto3' | translate }}</p>
    

</section>
 